@use "@minvws/manon/notification";
@use "@minvws/manon/notification-block-element";
@use "@minvws/manon/mixins/notification-type";
@use "@minvws/manon/notification-error";
@use "@minvws/manon/notification-warning";
@use "@minvws/manon/notification-explanation";
@use "@minvws/manon/notification-confirmation";
@use "@minvws/manon/notification-system-message";

/* This file uses mixins from Manon (https://github.com/minvws/nl-rdo-manon) */

.admonition {
  @include notification.notification;
  // Block notification can be included after manon release.
  @include notification-block-element.block-notification;

  .admonition-title {
    font-weight: var(--notification-span-font-weight);
  }

  &.informative,
  &.hint,
  &.tip,
  &.note,
  &.seealso {
    @include notification.notification;
    @include notification-type.notification-type("explanation");

    .admonition-title {
      font-weight: var(--notification-span-font-weight);
    }
  }

  &.caution,
  &.important,
  &.attention,
  &.danger {
    @include notification.notification;
    @include notification-type.notification-type("warning");

    .admonition-title {
      font-weight: var(--notification-span-font-weight);
    }
  }
}
