body.sidemenu,
main.sidemenu {
  nav {
    > ul ul {
      padding-left: 1rem;

      li {
        &::before {
          content: "\ea61";
          color: #1971c2;
        }
      }
    }
  }

  > div {
    margin: 2rem;
  }
}
