@font-face {
    font-family: "Satoshi Variable";
    src: url("../assets/fonts/Satoshi-Variable.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi Variable Title";
    src: url("../assets/fonts/Satoshi-Variable.ttf");
    font-weight: 1000;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi Variable Italic";
    src: url("../assets/fonts/Satoshi-VariableItalic.ttf");
    font-weight: normal;
    font-style: normal;
}

:root {
    --md-text-font: "Satoshi Variable", sans-serif;
    --titles-font: "Satoshi Variable Title", sans-serif;
    --md-code-font: "Noto Mono";

    /* BAM colors */
    --bam-weiss: rgb(243, 243, 243);
    --bam-weiss-dark: rgb(238, 241, 243);
    --bam-schwarz-100: rgb(0, 40, 50);
    --bam-schwarz-80: rgb(50, 84, 99);
    --bam-schwarz-60: rgb(95, 123, 137);
    --bam-schwarz-45: rgb(125, 149, 163);
    --bam-schwarz-30: rgb(163, 184, 195);
    --bam-schwarz-15: rgb(204, 216, 223);
    --bam-rot: rgb(210, 0, 30);
    --bam-rot-dark: rgb(180, 15, 30);
    --bam-rot-darker: rgb(140, 20, 25);
    --bam-rot-darkest: rgb(80, 25, 25);
    --bam-blau: rgb(0, 175, 240);
    --bam-blau-dark: rgb(0, 137, 186);
    --bam-blau-darker: rgb(0, 117, 153);
    --bam-blau-darkest: rgb(0, 85, 110);
    --bam-grun: rgb(140, 180, 15);
    --bam-grun-dark: rgb(130, 165, 50);
    --bam-grun-darker: rgb(90, 140, 50);
    --bam-grun-darkest: rgb(55, 120, 50);
    --bam-gelb: rgb(255, 220, 0);
    --bam-gelb-dark: rgb(250, 185, 0);
    --bam-gelb-darker: rgb(230, 155, 0);
    --bam-gelb-darkest: rgb(205, 125, 0);

    --nerxiv-green-dark: rgb(15, 112, 96);
    --nerxiv-green: rgb(20, 170, 145);
    --nerxiv-grey: rgb(180, 184, 189);
    /* --nerxiv-grey-dark: rgb(226, 229, 233);
    --nerxiv-grey-light: rgb(209, 213, 218); */
    --nerxiv-green-grey: rgb(89, 117, 111);
    --nerxiv-green-grey-dark: rgb(234, 238, 237);
    --nerxiv-green-grey-darker: rgb(157, 165, 163);
    --nerxiv-green-grey-light: rgb(246, 250, 248);

    /* Backgrounds, primaries, and secondaries */
    --background-light: var(--bam-weiss);
    --color-light: var(--bam-schwarz-100);
    --background-dark: var(--bam-schwarz-100);
    --color-dark: var(--bam-weiss);

    --code-color-light: var(--bam-grun-darkest);
    --code-background-light: rgb(204, 216, 223, 0.3);  /* similar to bam-schwarz-15 */
    --code-color-dark: var(--bam-grun);
    --code-background-dark: rgb(27, 72, 83, 0.3);

    --grid-background-light: rgb(238, 229, 174, 0.5);

    --md-primary-fg-color: var(--nerxiv-green-dark);  /* for hrefs */
    --md-accent-fg-color: var(--nerxiv-green);  /* when hovering hrefs */
    --md-primary-bg-color: var(--nerxiv-green);  /* for search icon */
    --md-default-bg-color: var(--bam-weiss);
}

.md-header__button.md-logo :where(img,svg) {
    width: 100%;
    height: 30px;
}

.md-header, .md-header__inner {
    background-color: var(--nerxiv-green-grey-dark);
    color: var(--bam-schwarz-100);
}

.md-header--shadow {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, .12);
    transition: box-shadow 200ms linear;
}

.md-header__inner {
    height: 72px;
}

.md-header__topic {
    font-size: 24px;
    font-family: var(--titles-font);
}

.md-search__form {
    background-color: var(--nerxiv-green-grey-darker);
    border-radius: 8px;
}

.md-search__form:hover {
    background-color: rgba(0,0,0,.13);
}

.md-source {
    color: var(--nerxiv-green-dark);
}

.md-source:hover {
    color: var(--nerxiv-green);
}

.md-main {
    background-color: var(--bam-weiss);
}

.md-content__inner, .md-typeset {
    font-size: 0.8rem;
    font-weight: 500;
}

.md-typeset h1 {
    color: var(--bam-schwarz-100);
    font-family: var(--titles-font)
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
    row-gap: 24px;
}

.home-grid div {
    border-radius: 16px;
    padding: 24px;
    background-color: var(--grid-background-light);
}

.home-grid h3 {
    margin-top: 0;
    font-family: var(--titles-font)
}

.md-nav {
    font-size: 0.8rem;
}

.md-nav__title {
    color: var(--bam-schwarz);
}

.md-nav--primary .md-nav__title {
    background: var(--bam-weiss);
    box-shadow: 0 0 0 0;
}

.md-main__inner {
    margin-bottom: 1rem
}

.md-footer {
    background-color: var(--nerxiv-green-grey);
}

.md-nav--secondary .md-nav__title{
    background-color: transparent;
    z-index: 2;
    box-shadow: 0 0 -.4rem .4rem var(--md-default-bg-color);
}

.click-zoom {
    text-align: center;
}

.click-zoom input[type=checkbox] {
    z-index: 0;
    display: none
}

.click-zoom img {
    transition: transform 0.25s ease;
    z-index: 0;
    cursor: zoom-in
}

.click-zoom input[type=checkbox]:checked~img {
    transform: scale(2.3);
    z-index: 0;
    cursor: zoom-out
}