* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

nav .brand {
  font-size: 1.6em;
  font-weight: bold;
  text-decoration: none;
  color: #4caf50;
}

nav .nav-links a {
  margin-left: 15px;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

nav .nav-links a:hover {
  color: #4caf50;
}

.site-footer {
    background: #141414; /* 深色背景 */
    padding: 0.8rem;
    margin-top: 4rem; /* 可以移除或调整，因为使用了 fixed 定位 */
    border-top: 2px solid #444;
    text-align: center;
    position: fixed; /* 将 footer 固定定位 */
    bottom: 0; /* 固定在底部 */
    left: 0; /* 从左侧开始 */
    width: 100%; /* 宽度撑满整个视口 */
    z-index: 10; /* 确保不被其他元素遮挡，可以根据实际情况调整 */
    color: wheat;
    font-size: 0.7rem;
}

.site-footer a {
    color: #ffd700; /* 高亮备案链接 */
    text-decoration: none;
    font-weight: 500;
}
