.async-select-search.form-control {
    width: 100%;
}

/* .async-select-dropdown.dropdown-menu {
    width: auto;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
} */

.async-select-option.dropdown-item {
    cursor: pointer;
}

.async-select-wrapper { position: relative; }

.async-select-wrapper .async-select-dropdown.dropdown-menu {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1050;
}

/* Nice-to-have: prevent super-long labels from stretching */
.async-select-wrapper .async-select-option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.async-select-option.dropdown-item.focused {
    background-color: #0d6efd;
    color: #fff;
}

.async-select-option.dropdown-item.focused:hover {
    background-color: #0b5ed7;
    color: #fff;
}


/* .async-select-wrapper.form-floating label {
    opacity: 0.65;
    transform: scale(0.9) translateY(-0.5rem) translateX(0.15rem);
}

.async-select-wrapper.form-floating .asteriskField {
    display: none;
} */