.sidePanel {
  background-color: rgb(218, 232, 240);
  font-size: medium;
  color: red;
  opacity: 0.8 !important;
  width: 12%;
  z-index: 999999999;
  position: absolute;
  padding: 18px;
  bottom: 0;
  top: auto;
  width: 250px;
  border-radius: 40px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.sidePanel.hidden {
  visibility: hidden !important;
}
.sidePanel.visible {
  visibility: visible !important;
}
.target-outline {
  outline: red solid 2px !important;
  outline-offset: 5px;
}

.target-outline-red {
  outline: red solid 2px !important;
  outline-offset: 1px;
}
.target-outline-blue {
  outline: blue solid 2px !important;
  outline-offset: 1px;
}

.target-outline-green {
  outline: green solid 2px !important;
  outline-offset: 1px;
}

.semanticGroup {
  margin-bottom: 30px;
}

.rpa-class-danger {
  color: red;
}

.rpa-class-info {
  color: black;
}

.rpa-class-success {
  color: green;
}

.rpa-shift-left {
  padding-right: 24%;
}

@keyframes append-animate {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(246, 83, 38, 0.852);
    box-shadow: 0 0 0 0 rgba(246, 83, 38, 0.852);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.rpa-pulse {
  outline: rgba(212, 176, 223, 1) dashed 4px;
  /* animation: pulse 2s linear 2; */
}
.context-menu {
  background-color: #ffffff;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1000;
}

.context-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu li {
  padding: 10px;
  cursor: pointer;
}

.context-menu li:hover {
  background-color: #e0e0e0;
}

.popup {
  position: fixed;
  z-index: 2147483647;
  padding: 50px;
  text-align: center;

  background-color: #c9b7fd;
  border: 1px solid #ccc;
  box-shadow: rgb(0 0 0 / 20%) 3px 1px 20px 12px;
  padding: 10px;
}

.popup-content {
  display: flex;
  flex-direction: column;
}

#saveButton {
  margin-top: 10px;
}
