form .selector-chosen-title {
    background-color: #00bbff;
}

fieldset .fieldset-heading,
fieldset .inline-heading,
:not(.inline-related) .collapse summary {
    background-color: #00bbff !important;
}

fieldset h2.fieldset-heading {
    color: white !important;
    background-color: #00bbff !important;
    font-weight: bold !important;
    padding-left: 1em !important;
}

.selector .selector-chooser button.selector-add,
.selector .selector-chooser button.selector-remove {
    width: 38px !important;
    height: 32px !important;
    padding: 0.4em 1em 1em 0.5em !important;
}

:enabled.selector-add,
:enabled.selector-remove {
  opacity: 1 !important;
}

.selector .selector-available button.selector-chooseall,
.selector .selector-chosen button.selector-clearall {
    height: 32px !important;
}
