:root {
    --version-fg: #c2c2c2;
    --version-padding: 0 30px;
    --version-font-size: smaller;

    --env-button-bg: #333;
    --env-button-fg: #f3f3f3;
    --env-button-height: 35px;
    --env-button-width: 300px;
    --env-button-line-height: 35px;
}

.login .version {
    text-align: center;
}

.version {
    padding: var(--version-padding);
    color: var(--version-fg);
    font-size: var(--version-font-size);
}

.env {
  display: block;
  line-height: var(--env-button-line-height);
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--env-button-fg);
  background-color: var(--env-button-bg);
  position: fixed;
  top: 0;
  height: var(--env-button-height);
  width: var(--env-button-width);
  left: 50%;
  margin-left: -150px;
  z-index: 1000001;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
