@use "manon";
@use "admonition";

@use "@minvws/manon-themes/icore-open" with (
  $font-path: "/_static/fonts"
);

@use "header-link";
@use "pagination";
@use "pre";
@use "print";

// Manon v17 overrides
@use "footer";
@use "sidebar";
@use "slogan";
@use "visually-grouped";

// Manon variable theme overrides (v17)
:root {
  --h1-font-size: 2rem;
  --h1-margin: 2rem 0 0 0;
  --h2-font-size: 1.5rem;
  --header-navigation-button-hover-border-width: 0;
  --sidemenu-ul-padding: 4rem 0 0 0;
  --sidemenu-list-item-list-style: none;
  --navigation-link-text-decoration: none;
}
