:root {
  --Red: #e10600;
  --Red_Dark: #e10600;
  --Blue: #1166BB;
  --Blue_Dark: #191970;
  --Orange: #ff8b5b;
  --Orange_Dark: #ff8b5b;
  --Black: #000000;
  --CL_Black: #2C2D32;
  --White: #ffffff;
  --Gray_Medium: #959595;
  --primary-color: #F63366;
  --background-color: #edf2f4;
  --secondary-background-color: #aaaaaa;
  --text-color: #000000;
  --font: "Source Sans Pro";
}

.stAppHeader {
  /* remove streamlit header */
  display: none;
}

/* for button */
/* Set for all keys */
[data-testid="stBaseButton-secondary"] {
  background-color: #1166BB;
  color: white;
}

button[kind="secondary"]:hover p,
button[kind="secondary"]:not(:active) p,
button[kind="secondary"]:active p {
  color: white;
}

div.st-key-dashboard-button button,
div.st-key-dashboard-button button:hover {
  background: transparent;
  border: 0px;
  padding: 0px;
}

div.st-key-dashboard-button button p {
  color: var(--Blue) !important;
}


#MainMenu,
footer {
  visibility: hidden;
}

#logo {
  padding: 0.1rem;
  filter: invert(1);
}

div.st-key-myheader {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  padding: 0px;
  background: #1F323E;
  top: 0rem;
  border-bottom: 1px;
  border-color: #434547;
  width: 100%;
  text-align: center;
  gap: 0px;
}

div.st-key-input-container {
  margin: auto;
  max-width: 600px;
  text-align: center;
}

div.st-key-myheader>div {
  gap: 2px;
}

div.st-key-myheader button {
  border-radius: 0px;
  width: 100%;
  background: transparent;
}

div.st-key-myheader button:hover,
div.st-key-myheader button:focus,
div.st-key-myheader button:active {
  background: var(--Blue) !important;
  border: 0px;
  color: white !important;
}

div.myfooter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  background: #141515;
  padding: 0.5rem 0;
  z-index: 100;
}

div.mycharttext {
  font-size: 18px;
  color: #2C2D32;
}

#root>div:nth-child(1)>div>div>div>div>section>div {
  padding-top: 0rem;
  padding-right: 10rem;
  padding-left: 1rem;
  padding-bottom: 10rem;

}
