/* Shared base styles for all targeted icons */
a.md-nav__link
> .objinfo-icon[aria-label="Python parameter"] {
    position: relative;
    border-color: transparent !important;
    outline: 0 !important;
}

/* Specific targets that should get the V badge and custom background */
a.md-nav__link:has(> span.md-ellipsis > span[title^="paguro.vcol.Array"]) > .objinfo-icon[aria-label="Python parameter"],
a.md-nav__link:has(> span.md-ellipsis > span[title^="paguro.vcol.Date"]) > .objinfo-icon[aria-label="Python parameter"],
a.md-nav__link:has(> span.md-ellipsis > span[title^="paguro.vcol.Boolean"]) > .objinfo-icon[aria-label="Python parameter"],
a.md-nav__link:has(> span.md-ellipsis > span[title^="paguro.vcol.List"]) > .objinfo-icon[aria-label="Python parameter"],
a.md-nav__link:has(> span.md-ellipsis > span[title^="paguro.vcol.Struct"]) > .objinfo-icon[aria-label="Python parameter"],
a.md-nav__link:has(> span.md-ellipsis > span[title^="paguro.vcol.__call__"]) > .objinfo-icon[aria-label="Python parameter"],

a.md-nav__link:has(> span.md-ellipsis > span[title^="paguro.vframe.__call__"]) > .objinfo-icon[aria-label="Python parameter"],
a.md-nav__link:has(> span.md-ellipsis > span[title^="paguro.vrelations.__call__"]) > .objinfo-icon[aria-label="Python parameter"] {
    color: transparent !important; /* hide the 'p' */
    background: #CF5B4C;
}

/* Replacement badge */
a.md-nav__link:has(> span.md-ellipsis > span[title^="paguro.vcol.Array"]) > .objinfo-icon[aria-label="Python parameter"]::after,
a.md-nav__link:has(> span.md-ellipsis > span[title^="paguro.vcol.Date"]) > .objinfo-icon[aria-label="Python parameter"]::after,
a.md-nav__link:has(> span.md-ellipsis > span[title^="paguro.vcol.Boolean"]) > .objinfo-icon[aria-label="Python parameter"]::after,
a.md-nav__link:has(> span.md-ellipsis > span[title^="paguro.vcol.List"]) > .objinfo-icon[aria-label="Python parameter"]::after,
a.md-nav__link:has(> span.md-ellipsis > span[title^="paguro.vcol.Struct"]) > .objinfo-icon[aria-label="Python parameter"]::after,
a.md-nav__link:has(> span.md-ellipsis > span[title^="paguro.vcol.__call__"]) > .objinfo-icon[aria-label="Python parameter"]::after,

a.md-nav__link:has(> span.md-ellipsis > span[title^="paguro.vframe.__call__"]) > .objinfo-icon[aria-label="Python parameter"]::after,
a.md-nav__link:has(> span.md-ellipsis > span[title^="paguro.vrelations.__call__"]) > .objinfo-icon[aria-label="Python parameter"]::after {
    content: "V";
    position: absolute;
    inset: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #21232B;
    /* optional pill style:
       background: var(--md-sys-color-secondary);
       color: var(--md-sys-color-on-secondary);
       border-radius: 9999px;
    */
}


/* -------------------------------------------------------------------- */

#paguro\.validation\.valid_column\.VCol em.property .k .pre {
    display: none;
}