body {
    background-color: #121212;
}

article {
    margin: 50px auto;
    width: 50%;
    background-color: #303030;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 80px;
}

article h1 {
    font-size: 3em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: aliceblue;
}

article h2 {
    font-size: 2.2em;
    margin-top: 30px;
    margin-bottom: 20px;
    color: cadetblue;
}

article h3, article h4, article h5, article h6 {
    font-size: 1.8em;
    margin-top: 20px;
    margin-bottom: 20px;
    color: darkcyan;
}

article p {
    font-size: 1.2em;
    line-height: 2.2em;
    margin-bottom: 20px;
    color: wheat;
}

article img {
    max-width: 100%; /* 限制图片宽度为容器宽度 */
    height: auto;    /* 保持图片比例 */
}

code {
    border: 1px solid #ddd;   /* 添加边框 */
    border-radius: 4px;       /* 圆角边框 */
    font-family: monospace;   /* 使用等宽字体 */
    font-size: 1.2em;        /* 稍微缩小字体 */
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    padding: 3px;
}

blockquote {
    background-color: dimgrey;
    margin: 1em 0;                 /* 设置上下间距 */
    padding: 0.5em 1em;            /* 内边距 */
    border-left: 4px solid #0074d9; /* 左侧蓝色边框 */
    color: #555;                   /* 设置文本颜色 */
    font-style: italic;            /* 倾斜字体 */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
    background-color: #1e1e1e; /* 表格整体背景 */
    color: #ccc;               /* 默认文字颜色 */
}

table th, table td {
    border: 1px solid #444;    /* 深色边框 */
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #2e2e2e; /* 表头背景色 */
    color: #fff;               /* 表头文字颜色 */
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #2a2a2a; /* 偶数行背景色 */
}

table tr:nth-child(odd) {
    background-color: #242424; /* 奇数行背景色 */
}

table tr:hover {
    background-color: #555522; /* 鼠标悬停高亮色 */
}

ul, ol {
    margin: 1em 0;               /* 上下外边距 */
    padding-left: 2em;           /* 左内边距（缩进） */
    line-height: 1.6;            /* 设置行高 */
}

ul {
    list-style-type: disc;       /* 使用圆点作为项目符号 */
}

ol {
    list-style-type: decimal;    /* 使用数字作为编号 */
}

ul li, ol li {
    margin-bottom: 0.5em;        /* 列表项的下间距 */
}

ul li::marker {
    color: #0074d9;             /* 修改圆点颜色 */
}

ol li::marker {
    color: #e74c3c;             /* 修改数字颜色 */
}

li {
    font-size: 1rem;             /* 设置字体大小 */
    color: aquamarine;                 /* 设置文字颜色 */
}

li:hover {
    color: antiquewhite;              /* 鼠标悬停时改变文字颜色 */
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.article-meta time, .article-meta p {
    font-size: 0.9em;
    color: aquamarine;
}

a {
    color: deeppink;
}
